.box {
  height: 200px;
  width: 200px;
  display:inline-block;
}

.hide {
  display: none;
}

.box-container {
  /* SETUP */
  margin: 200px auto;
  width: 80%;
  max-width: 1000px;
  padding: 50px;
  border: 1px solid grey;
  box-sizing: border-box;
  /* POSITIONING */
  position: relative;
}


.first {
  top: 100px;
  left: 100px;
  position: relative;
  background-color: #E54B4B;
}

/* this is where it gets weird !!!! */
.second {
  background-color: #167C80;
}

.third {
  background-color: #FBCBC1;
  position: relative;
  top: 150px;
  left: 300px;
}

.fourth {
  background-color: #7A30CF;
  position: fixed;
  z-index: -1;
}
