.box {
  height: 200px;
  width: 200px;
  display:inline-block;
}

.hide {
  display: none;
}

.box-container {
  /* SETUP */
  margin: 200px auto;
  width: 80%;
  max-width: 1000px;
  padding: 50px;
  border: 1px solid #eee;
  box-sizing: border-box;
  /* POSITIONING */
}


.first {
  background-color: #E54B4B;
}

.second {
  background-color: #167C80;
}

.third {
  background-color: #FBCBC1;
}
