
/* fonts */





/*FONTSTACK*/
/*@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');*/
@import url('https://fonts.googleapis.com/css?family=Raleway');





/*specific demos*/

.demo-convert {
  /* rule in here with custom font */
}

.demo-fontstack {
  /* rule in here with font stack */
}

.demo-lineheight {
  /* rule in here about line-height */
}


/* base setup */

body {
  background-color: #fcfcfc;
}

.container {
  width: 80vw;
  max-width: 1000px;
  margin: 150px auto;
  border: 1px solid #eee;
  font-family: georgia, serif;
  padding: 50px;
  box-sizing: border-box;
  background-color: white;
}

.list {
  line-height: 1.5em;
  margin: 25px 0 25px 25px;
}

.list li::before {
  height: 7px;
  width: 7px;
  border-radius: 50px;
  background-color: rgb(142,216,248);
  display: inline-block;
  margin-right: 10px;
  content: ' ';
  vertical-align: middle;
}

a {
  color: #2b6d89;
}

b {
  font-weight: bold;
}

p {
  display: block;
  margin: 15px 0;
  line-height: 1.3em;
}

blockquote {
  display: block;
  margin: 15px 0 15px 20px;
  border-left: 3px solid rgb(142,216,248);
  padding-left: 15px;
  line-height: 1.3em;
  font-style: oblique;
}


/*lead*/



.lead {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
}

.lead h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 10px;
}

.lead h4 {
  margin-left: 30px;
  color: rgb(142,216,248);
  font-style: oblique;
}


/*example*/
.example-container {
  margin: 25px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
}

.example-container h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.5em;
}

/*demo*/
.demo-cols {
  display: flex;
  padding: 15px;
  background-color: #fafafa;
}
.vert {
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .demo-cols {
    flex-direction: column;
  }
}

.demo-steps, .demo-head, .demo-sub {
  flex: 1;
  padding: 15px;
}

.demo-head {
  display: flex;
  align-items: center;
}

.demo-head h3 {
  font-size: 2em;
  line-height: 1.2em;
}

.tabnav {
  display: flex;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .tabnav {
    flex-direction: column;
  }
}

.tabnav li {
  flex: 1;
  border-bottom: 3px solid #eee;
  padding: 10px;
}

.tabnav .actv {
  border-color: rgb(142,216,248);
  background-color: #eee;
}

.tabcont {
  padding: 25px 0;
}

.deffont h1 {
  font-size: 2em;
  line-height: 1.5em;
}

.navex {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 15px 20px;
  margin: 10px 0;
}

.navex li {
  color: white;
  text-transform: uppercase;
  font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0 10px;
}

.navex.spaced li {
  letter-spacing: 1.5px;
}


/* making the tabs work */

.popexcont, .choicexcont {
  display: none;
}

.actv {
  display: block;
}

/* baseline & xheight diagram */

.tester:after {
  content: '';
  left: 0;
  bottom: 0;
  outline: 1px solid rgb(142,216,248);
  border-right:1px solid white;
  box-sizing:border-box;
  display: block;
  height: 1ex;
  width: 100%;
  display: inline-block;
  margin-left:-100%;
}

.tester:before {
  content: '';
  left: 0;
  bottom: 0;
  height:1em;
  border-top: 1px solid rgb(142,216,248);
  border-bottom: 1px solid rgb(142,216,248);
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right:-100%;
}

.tester {
  position: relative;
  font-size: 100px;
  line-height: 1em;
  display:inline-block;
  margin-left: 30px;
}