
/* fonts */




/* base setup */

.container {
  width: 80vw;
  max-width: 1000px;
  margin: 150px auto;
  border: 1px solid #eee;
  font-family: georgia, serif;
  padding: 50px;
  box-sizing: border-box;
}

ul {
  line-height: 1.5em;
  margin: 25px 0 25px 25px;
}

li::before {
  height: 7px;
  width: 7px;
  border-radius: 50px;
  background-color: rgb(142,216,248);
  display: inline-block;
  margin-right: 10px;
  content: ' ';
  vertical-align: middle;
}

a {
  color: #2b6d89;
}

/*lead*/



.lead {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
}

.lead h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 25px;
}


/*example*/
.example-container {
  margin: 25px;
  padding: 15px;
}

.example-container h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.5em;
}

/*demo*/
.demo-cols {
  display: flex;
  padding: 15px;
  background-color: #fafafa;
}

.demo-steps, .demo-head {
  flex: 1;
  padding: 15px;
}

.demo-head {
  display: flex;
  align-items: center;
}


/*specific demos*/

.demo-convert {
  font-size: 2em;
}


/* baseline & xheight diagram */

.tester:after {
  content: '';
  left: 0;
  bottom: 0;
  outline: 1px solid rgb(142,216,248);
  border-right:1px solid white;
  box-sizing:border-box;
  display: block;
  height: 1ex;
  width: 100%;
  display: inline-block;
  margin-left:-100%;
}

.tester:before {
  content: '';
  left: 0;
  bottom: 0;
  height:1em;
  border-top: 1px solid rgb(142,216,248);
  border-bottom: 1px solid rgb(142,216,248);
  display: block;
  width: 100%;
  display: inline-block;
  vertical-align:middle;
  margin-right:-100%;
}

.tester {
  position: relative;
  font-size: 100px;
  line-height: 1em;
  display:inline-block;
  margin-left: 30px;
}